%li.comment{ng: {repeat: "comment in task.comments"}}
  %p
    {{comment.text}}
    %a.close{ng: {controller: "CommentsController", click: "deleteComment(comment, $index)"}}= I18n.t('comment.del_element')
  %ul.comment_files
    %li{ng: {repeat: 'attachment in comment.attachments'}}
      %span.glyphicon.glyphicon-file
        %a{href: '{{attachment.file.file.url}}', download: true} {{attachment.file_identifier}}
      %a.delete_attachment{ng: {controller: "CommentsController", click: 'deleteAttachment(attachment, $index)'}}= I18n.t('comment.del_element')
%form.add_comment.form-inline{name: "commentForm", ng: {controller: "CommentsController", submit: "addComment(task)"}}
  %input.form-control.input-sm{type: "text", placeholder: "#{I18n.t('comment.input_new_comment')}", ng:{model: 'commentData.text'}, required: true}
  %input.btn.btn-primary.btn-sm{type: "submit", value: "#{I18n.t('comment.submit_comment')}", ng: {disabled: 'commentForm.$invalid'}}
  .file_upload
    %h5= I18n.t('comment.attach_file')
    %input(type="file" name="attachment" ng-model="files" ngf-multiple="true" ngf-select="")
  .new_attachments
    %p{ng: {repeat: 'file in files'}}
      %span.glyphicon.glyphicon-file {{file.name}}
      %a.del_new_attachment{href: '', ng: {click: 'delNewAttachment($index)'}}= I18n.t('comment.del_element')
