.container
  %h1 Sign in page
  .col-sm-4.col-sm-offset-4
    %form{"ng-init" => "loginForm = {}", "ng-submit" => "submitLogin(loginForm)", :role => "form"}
      .form-group
        %label Email
        %input.form-control{:name => "email", "ng-model" => "loginForm.email", :required => "required", :type => "email"}/
      .form-group
        %label Password
        %input.form-control{:name => "password", "ng-model" => "loginForm.password", :required => "required", :type => "password"}/
      %button.btn.btn-primary{:type => "submit"} Sign in
